*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/Images/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	min-width: 800px;
	background-attachment: fixed;
	position: fixed;
}

.navbar{
	width: 90%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #FFF;
	position: absolute;
	right: 0;
	bottom: -5px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}

.content {
	text-align: left;
	position: relative;
	top: 20%;
	left: 10%;
	color: #FFF;
}

.menu{
	font-size: 30px;
	position: relative;
	right: 5%;
	text-decoration: none;
	color: white;
}

.note{
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: white;
}

.btn{
	border-color: white;
	color: white;
	position: relative;
	border: 1px solid #12426710f;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	margin: 10px;
	bottom: -50px;
	left: 150px;
	transition: 0.5s;
	overflow: hidden;
	border-radius: 25px;
}

.btn:hover{
	background-color: #2a36ef5f;
}

.faq{
	color: white;
	text-align: left;
	position: relative;
	margin: 50px;
}

.faq p {
	margin: 10px;
}

.faq h2{
	text-decoration: underline;
}

.titleFaq{
	text-align: left;
	margin: 50px;
	color: white;
}


.contacts{
	color: white;
	text-align: left;
	position: relative;
	margin: 50px;
}

.titleContacts{
	text-align: left;
	margin: 50px;
	color: white;
}

.contacts p {
	margin: 10px;
}

.contacts h2{
	text-decoration: underline;
}


.about{
	color: white;
	text-align: left;
	position: relative;
	margin: 50px;
}

.titleAbout{
	text-align: left;
	margin: 50px;
	color: white;
}

.about p {
	margin: 10px;
}

.about h2{
	text-decoration: underline;
}

.boardImg{
	height: 500px;
	width: 500px;
}

.page1text{
	color: white;
	position: relative;
	left: 10%;
	top: 10%;
}
.page1text p{
	padding: 5px;
}

.page1text h2{
	text-decoration: underline;
}

.image1{
	position: relative;
	left: 10%;
	top: 10%;
	height: 400px;
	width: 400px;
}

.arrow{
	color: white;
	position: relative;
	left: 1000px;
	bottom: 400px;
	text-decoration: none;

}

.chessPawn{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/Images/pawn.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	min-width: 800px;
	background-attachment: fixed;
	position: fixed;
}
 
 
.prevp:hover {
	color: #4b4b4b;
	transition: 0.5s;
 }
 
.nextp:hover {
	color: #4b4b4b;
	transition: 0.5s;
 }
 
.logo {
	float: left;
	height: 150px;
	width: 150px;
	position: absolute;
	top: -20px;
	left: -30px;
}
