
body{
	background-attachment: fixed;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
    background-position: center;
	background-size:100%;
}
h1{

	text-align: center;
	background-color: #30fc03;
	font-family: arial;
	border: 2px;
	border-style: dotted;
	border-color: blue;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	width: 250px;
	margin-bottom: 20px;
	margin: auto;
	
}



p{
	text-align: justify;
	font-style: italic;
	padding: 20px;
	border: 3px;
	border-color: black;
	border-style: double solid solid double;
	background-color: hsl(178, 100%, 50%);
	width: 500px;
	margin: auto;
}

span{
	font-weight: bold;
	font-style: italic;
	color: rgb(189, 71, 21)
}